{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Classroom</title>
    <link rel="stylesheet" href="{% static '/subject.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" >
    <link href="{% static '/tabledesign.css' %}" rel="stylesheet">
  </head>
  <body class="bd">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
      <img src="{% static 'images/logo.png.png' %}" width="30" height="33" class="d-inline-block align-top" alt="">Lassroom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      </ul>
    </div>
    <div class="logout">
    <a href="/logout/" class="btn btn-outline-success">Logout</a>
    </div>
  </nav>
  <center>
    <table class="tableclass">
      <thead>
    <tr>
      <th scope="col">Assignment ID</th>
      <th scope="col">Assignment</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
  {% for assignment in assignments %}
    <tr>
      <td>{{assignment.id}}</td>
      <td>{{assignment.name}}</td>
      <td><a href="/subject/assignment/response/{{assignment.id}}/"><button class="bt">view Assignment</button></a></td>
    </tr>
    {% endfor %}
    
  </tbody>
   </table>
  </center>
  </body>
</html>
